.generic-table-container {
    max-width: 100%;
    overflow-x: scroll;
    border-radius: 10px;
}

.generic-table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    margin-top: 0.5rem;
}

.generic-headers-row {
    background-color: var(--background2);
}

.generic-cells-row {
    background-color: var(--background1);
}

.generic-headers {
    padding: 0.5rem;
    background-color: var(--background2);
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
}

.generic-row-cell {
    color: white;
    padding: 0.3rem;
    text-align: center;
}

.table-sort-button {
    margin-left: 0.2rem;
}

.top-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.show-select {
  background-color: var(--background2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
  margin-right: 10px;
}

.download-excel {
  background-color: var(--blue0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
  margin-right: 10px;
}

.pagination-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.pagination-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 100px;
    outline: none;
    border: none;
    margin-right: 10px;
    flex: 1;
}

.page-of {
    flex: 5;
}